<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="assets/images/book_shortcut.JPG">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
  <title>Page Turner</title>
  <link rel="stylesheet" href="/assets/css/jass.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <script type = "text/JavaScript" src = " https://MomentJS.com/downloads/moment.js"></script>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js'></script>
  <script src='/dist/index.global.js'></script>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
      });
    </script>
    <script src="/dist/moment.js"></script>
    <script>
       moment().format();
    </script>

</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-3" style="background-color: white;">
      <h1>
        <a href="/" id="mainTitle" class="hvr-curl-top-right">Page Turner</a>
        <span role="img" aria-label="stacked-books">📚</span>
      </h1>
      <nav class="d-flex justify-content-end p-3">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a class="mx-3 titleSize" href="/profile">My Profile</a> 
        <button class="no-button mx-3 titleSize" id="logout">| &nbsp; Logout</button>
        {{else}}
        <a href="/login" id="login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-3">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  <script src="/js/profile.js"></script>
  <script src="/js/createBook.js"></script>
  <script src="/js/addComment.js"></script>
  <script src="/js/calendar.js"></script>
  <script src="/js/updateBook.js"></script>
  <script src="/js/updateComment.js"></script>
    {{/if}}

  <script src="../../public/js/login.js"></script>
  <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  
</body>

</html>