<form action="/api/books" method="POST">
  <div class="form-group">
    <label for="book_name">Book Title</label>
    <input type="text" class="form-control" id="book_name" name="book_name">
  </div>
  <div class="form-group">
    <label for="Author">Author</label>
    <input type="text" class="form-control" id="Author" name="Author">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="description"></textarea>
  </div>
  <div class="form-group">
    <label for="genres">Genres