{{!-- Form for creating new book by singed in user --}}
<div class="row d-flex justify-content-center">
  <div class="d-flex flex-column mb-3 w-50">
    <h3 class="text-center text-success titleSize">Add a New Book:</h3>

    <form class="form new-book-form">
      <div class="form-group">
        <label for="book-name">Book Name:</label>
        <input class="form-input" type="text" id="book-name" name="book-name" />
      </div>
      <div class="form-group">
        <label for="book-author">Author:</label>
        <input class="form-input" type="text" id="book-author" name="book-author" />
      </div>
      <div class="form-group">
        <label for="book-genres">Genre(s):</label>
        <input class="form-input" type="text" id="book-genres" name="book-genres" />
      </div>
      <div class="form-group">
        <label for="book-image">Book Image:</label>
        <input class="form-input" type="text" id="book-image" name="book-image" />
      </div>
      <div class="form-group">
        <label for="book-description">Description of your book:</label>
        <textarea class="form-input" id="book-description" name="book-description"></textarea>
      </div>
      <div class="form-group d-flex justify-content-center">
        <p>
        <button type="submit" class="btn btn-primary">Add Book</button>
        </p>
      </div>
    </form>
  </div>
</div>