<style>
  body {
    background-image: url('/assets/images/book-library.webp');
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
{{!-- Display for profile once signed in --}}
<div style="background-color: white;">
<div class="row d-flex justify-content-center">
  <div class="p-2 w-75 text-center">
    <h2 class="text-success fs-1">Welcome, {{name}}!</h2>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="p-2 w-50 text-center">
    <a href="/profile/createBook" class="titleSize">➕ Add a New Book to Your Personal Collection 📖</a>
  </div>
</div>

<div>
  {{#if books.length}}
  <div class="book-list row d-flex justify-content-center">
    <div class="d-flex flex-column mb-3 w-50">
    <h3>My Books:</h3>

    {{#each books as |book|}}
    <div class="row d-flex">
      <div class="d-flex justify-content-between">
        <h4><a href="/books/{{book.id}}">📖 {{book.book_name}}</a></h4>
        <div class="row align-self-end">
        <button class="btn btn-sm btn-danger" data-id="{{book.id}}">DELETE</button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
<br>
<br>
<br>
</div>
</div>